@import '../../variables.scss';
:host {
    position: fixed;
    top: 0px;
    z-index: 4;
    width: 100%;
    background-color: $secondaryColor;
    height: 80px;
    background-image: url("/assets/icon_map@2x.png");
    background-position: 90% 50%;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 40px;
    font-family: $primaryFontBold;
    display: block;
    line-height: 80px;
    color: white;
    h2 {
        margin: 0;
        padding: 0;
    }
}